%div{:class => "col-sm-6 col offset-sm-3"}
    %div.row.d-flex.justify-content-center
        = link_to booking_new_path do    
            %div{:class => "text-center left-right-margin"}
                %button.btn.btn-main{:type => "button"}
                    %p.button-text= t('.booking_button')
        = link_to car_park_path do    
            %div{:class => "text-center left-right-margin"}
                %button.btn.btn-main{:type => "button"}
                    %p.button-text= t('.show_car_park')
        = link_to contact_owner_path do    
            %div{:class => "text-center left-right-margin"}
                %button.btn.btn-main{:type => "button"}
                    %p.button-text= t('.contact')