= link_to root_path do
    %div{:class => "jumbotron text-center home-title"}
        %h1= t('.title')
        %h3= t('.subtitle')
- @car_park.each do |car_park|
    %div
        %p.text-center= car_park.name
    - set_num_of_rows(car_park).times do |i|
        %div{:class => "offset-sm-1"}
            - car_park.parking_space.limit(10).offset((i)*10).each do |space|
                = link_to parking_space_path(space) do
                    %button.btn.btn-primary.col-sm-1.home-title{:type => "button"}
                        %p= "#{space.number}"

